<p>Choose the components of your generator multiblock to see the resulting stats.</p>

<div class="row">
	<div class="col-lg-8">
		<table class="table">
			<thead>
				<tr>
					<th>Block</th>
					<th>Quantity</th>
					<th>Speed<br/>Modifier</th>
					<th>Efficiency<br/>Modifier</th>
					<th>Multiplier</th>
					<th>Effect of 1 more</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="l in c.config">
					<td>{{ c.blockExtraInfo[l.block] ? c.blockExtraInfo[l.block].name : l.block  }}</td>
					<td>
						<input type="number" ng-model="l.quantity" style="width: 50px; text-align: right;" min="0"/>
						<!--
						<button class="btn" ng-click="l.quantity = l.quantity - 1" ng-disabled="!l.quantity"><span class="glyphicon glyphicon-minus"></span></button>
						<button class="btn" ng-click="l.quantity = l.quantity + 1"><span class="glyphicon glyphicon-plus"></span></button>
						-->
					</td>
					<td>{{ c.calcMod(c.configData[l.block].speedFunction, l.quantity) | number:2 }}</td>
					<td>{{ c.calcMod(c.configData[l.block].efficiencyFunction, l.quantity) | number:2 }}</td>
					<td>{{ c.calcMod(c.configData[l.block].multiplicityFunction, l.quantity) | number:2 }}</td>
					<td class="effect">
						<span class="more" ng-if="c.whatIf[l.block].rfTick > c.calcResult.rfTick"><span class="glyphicon glyphicon-plus"></span> 
							{{ (c.whatIf[l.block].rfTick - c.calcResult.rfTick) | number:0 }} More RF/tick
						</span>
						<span class="less" ng-if="c.whatIf[l.block].rfTick < c.calcResult.rfTick"><span class="glyphicon glyphicon-minus"></span> 
							{{ (c.calcResult.rfTick - c.whatIf[l.block].rfTick) | number:0 }} Less RF/tick
						</span>
						<span class="more" ng-if="c.whatIf[l.block].rfTickPerEMC > c.calcResult.rfTickPerEMC"><span class="glyphicon glyphicon-plus"></span> 
							{{ (c.whatIf[l.block].rfTickPerEMC - c.calcResult.rfTickPerEMC) * 1000 | number:0 }} More RF/t/kEMC
						</span>
						<span class="less" ng-if="c.whatIf[l.block].rfTickPerEMC < c.calcResult.rfTickPerEMC"><span class="glyphicon glyphicon-minus"></span> 
							{{ (c.calcResult.rfTickPerEMC - c.whatIf[l.block].rfTickPerEMC) * 1000 | number:0 }} Less RF/t/kEMC
						</span>
						<span class="more" ng-if="c.whatIf[l.block].rfPerCoal > c.calcResult.rfPerCoal"><span class="glyphicon glyphicon-plus"></span> 
							{{ (c.whatIf[l.block].rfPerCoal - c.calcResult.rfPerCoal) | number:0 }} More RF/Coal
						</span>
						<span class="less" ng-if="c.whatIf[l.block].rfPerCoal < c.calcResult.rfPerCoal"><span class="glyphicon glyphicon-minus"></span> 
							{{ (c.calcResult.rfPerCoal - c.whatIf[l.block].rfPerCoal) | number:0 }} Less RF/Coal
						</span>
						<span class="more" ng-if="c.whatIf[l.block].rfCoalPerEMC > c.calcResult.rfCoalPerEMC"><span class="glyphicon glyphicon-plus"></span> 
							{{ (c.whatIf[l.block].rfCoalPerEMC - c.calcResult.rfCoalPerEMC) | number:0 }} More RF/Coal/kEMC
						</span>
						<span class="less" ng-if="c.whatIf[l.block].rfCoalPerEMC < c.calcResult.rfCoalPerEMC"><span class="glyphicon glyphicon-minus"></span> 
							{{ (c.calcResult.rfCoalPerEMC - c.whatIf[l.block].rfCoalPerEMC) | number:0 }} Less RF/Coal/kEMC
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-4">
		<h3>Result:</h3>
		<div class="form form-horizontal">
			<div class="form-group">
				<label class="col-md-6 control-label">Speed modifier</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.speed | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">Efficiency modifier</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.eff | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">Multipler</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.mult | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">RF/tick</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.rfTick | number:0 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">Tick modifier</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.tickMod | number:4 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">RF/Coal</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.rfPerCoal | number:0 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">RF/tick per kEMC</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.rfTickPerEMC * 1000 | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">RF/Coal per kEMC</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.rfCoalPerEMC * 1000 | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">Overall eff</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.overallEff * 100 | number:2 }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">Blocks used</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.blocksUsed }}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6 control-label">EMC used</label>
				<div class="col-md-6">
					<span class="form-control">{{ c.calcResult.emcUsed | number }}</span>
				</div>
			</div>
			<hr/>
			<div class="form-group" ng-repeat="cb in c.cubes">
				<label class="col-md-8 control-label">Cube of size {{cb.size}}</label>
				<div class="col-md-4">
					<span class="form-control" ng-style="{ color: cb.blocks >= c.calcResult.blocksUsed ? 'green' : 'red', 'font-weight': cb.blocks == c.calcResult.blocksUsed ? 'bold' : 'normal'}">{{cb.blocks}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
